.marquee {

    .picture {
        width: 60%;
        text-align: center;
        margin: auto;
        margin-bottom: 100px;

        img {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
        }

        .carousel-picture {
            width: 190px !important;
            height: 150px;
            border-right: 3px solid transparent;
            border-image-source: linear-gradient( #FAFAFA50 20% , #EDEDED , #FAFAFA50 80%);
            border-image-slice: 1;
        }
    }

    .customer, .project {
        padding-bottom: 100px;
    }

    h1 {
        font-weight: 700;
        font-size: 60px;
        background: linear-gradient(145deg, #1D63B0 30%, #1D95CD, #1D8CF8 70%);
        -webkit-text-fill-color: transparent;
        text-align: center;
        -webkit-background-clip: text;
        margin-bottom: 60px;
        padding-top: 60px;
        text-transform: uppercase;
    }

    .detail-solution-content {
        font-size: 25px;
        text-align: justify;
        width: 60%;
        margin: auto;
        margin-bottom: 50px;
    }

    .customer-item, .project-item {
        .card {
            margin-left: 3%;
            margin-right: 3%;
            position: relative;
            height: fit-content;
            border-radius: 10px;
            background-color: white;
            margin-top: 3%;
            transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
            box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            padding-bottom: 35px;
          }
    }
}