.contact {
    @media only screen and (max-device-width: 1920px) and (min-device-width: 1281px) {
        .title-img {
            background-image: url("../../assets/images/lienhe.png");
            margin-top: 77px;
            height: 470px;
            width: 100%;
            position: fixed;
            z-index: 0;
        }

        .background {
            z-index: 1;
            top: 450px;
            position: relative;
            background-color: white;
            padding-bottom: 300px;
        }

        .header-address {
            font-weight: bolder;
            color: #737373;
            font-size: 23px;
            margin-left: 20px;
            margin-top: 80px;
        }

        .address {
            font-weight: bolder;
            color: #1d1d1f;
            font-size: 16px;
            margin-left: 20px;
            margin-top: 10px;
        }
    }

    @media only screen and (max-device-width: 1280px) {
        .title-img {
            min-height: 340px;
            width: 100%;
            margin-top: 77px;
        }

        .background {
            //position: relative;
            bottom: 300px;
            z-index: 1;
            top: 450px;
        }

        .header-address {
            font-weight: bolder;
            color: #737373;
            font-size: 20px;
            margin-left: 20px;
            margin-top: 50px;
        }

        .address {
            font-weight: bolder;
            color: #1d1d1f;
            font-size: 12px;
            margin-left: 20px;
            margin-top: 5px;
        }
    }
}
