.contact {
    @media only screen and (max-device-width: 1920px) and (min-device-width: 1281px) {

    .title-img {
        background-image: url("../../assets/images/lienhe.png");
        margin-top: 77px;
        height: 470px;
        width: 100%;
        position: fixed;
        z-index: 0;
    }

    .background {
        position: relative;
        background-color: white;
        top: 570px;
        padding-bottom: 570px;
        z-index: 1;
    }

    .header-address {
        font-weight: bolder;
        color: #737373;
        font-size: 23px;
        margin-left: 20px;
    }

        .address {
            font-weight: bolder;
            color: #1d1d1f;
            font-size: 16px;
            margin-left: 20px;
            margin-top: 5px;
        }
    }

    @media only screen and (max-device-width: 1280px) {
        .title-img {
            min-height: 340px;
            width: 100%;
            margin-top: 77px;
            position: fixed;
            z-index: 0;
        }

        .background {
            position: relative;
            background-color: white;
            top: 430px;
            padding-bottom: 430px;
            z-index: 1;
        }

        .header-address {
            font-weight: bolder;
            color: #737373;
            font-size: 20px;
            margin-left: 20px;
        }

        .address {
            font-weight: bolder;
            color: #1d1d1f;
            font-size: 12px;
            margin-left: 20px;
            margin-top: 5px;
        }
    }
}
