.contact {

    .title-img {
        background-image: url("../../assets/images/lienhe.png");
        height: 300px;
        width: 100%;
        position: fixed;
        z-index: 0;
    }

    .background {
        position: relative;
        background-color: white;
        top: 300px;
        padding-bottom: 300px;
        z-index: 1;
    }

    .header-address {
        font-weight: bolder;
        color: #737373;
        font-size: 23px;
        margin-left: 20px;
        margin-top: 80px;
    }

    .address {
        font-weight: bolder;
        color: #1d1d1f;
        font-size: 16px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .boxform {
        top: 2603px;
        left: 829px;
        width: 651px;
        height: 92px;
        background: #f5f5f7 0% 0% no-repeat padding-box;
        border-radius: 13px;
        opacity: 1;
    }
    .hoten {
        top: 2628px;
        left: 860px;
        width: 90px;
        height: 37px;
    }
    .BG-hoten {
        background-color: #f5f5f7;
        border: 0px;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
    }
    .BG-input {
        height: 92px;
        background-color: #f5f5f7;
        border: 0px;
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
        position: relative;
        outline: none;
    }
    .email {
        top: 2753px;
        left: 864px;
        width: 90px;
        height: 26px;
    }
    .noidungyeucau {
        top: 2864px;
        left: 863px;
        width: 90px;
        height: 27px;
        margin-bottom: 80px;
    }
    .guiyeucau {
        top: 3014px;
        left: 829px;
        width: 651px;
        height: 92px;
        background: #0063b0 0% 0% no-repeat padding-box;
        border-radius: 13px;
        opacity: 1;
    }
    .placeholder {
        position: absolute;
        left: 106px;
        top: auto;
        background-color: #f5f5f7;
        padding: 0 20px;
        bottom: 106px;
        color: gray;      
    }
}
