.home {

    .latest-news {
        .title {
            font-size: 55px;
            font-weight: bolder;
            text-align: center;
            margin-bottom: 55px;
            text-transform: uppercase;
        }
    }

    .shakehands {
        margin-top: -250px;
        z-index: 1;
        margin-bottom: -120px;
        position: relative;
    }
}

@media only screen and (width: 1280px) {
    .home {   
        .shakehands {
            margin-top: -150px;
        }
    }
}

@media only screen and (width: 1366px){
    .home {
    
        .shakehands {
            margin-top: -150px;
        }
    }
}
