$red-color: #e50019;

.box-group {
    display: flex;
    .box {
        width: 100%;
        height: auto;
        .box-top {
            position: relative;

            .news-line {
                width: 100%;
                height: 312px;

                .line {
                    fill: transparent;
                    stroke: $red-color;
                    stroke-width: 2;
                }
                
                .blue {
                    stroke: #0063b0;
                }
            }

            .box-thumbnail {
                position: absolute;
                width: 100%;
                height: 285px;
            }
            
            .pattern-img {
                position: absolute;
                width: 100%;
                height: 100%;
                background-size: cover;
            }

            .text {
                color: $red-color;
                font-weight: bold;
                position: absolute;
                bottom: 4px;
                left: 0px;
                font-size: 12px;
                text-transform: uppercase;
            }
            
            .circle {
                position: absolute;
                bottom: 0px;
                left: 108px;
            }

            .triagle {
                width: 0;
                height: 0;
                bottom: 12px;
                right: -1px;
                position: absolute;
                border-right: 100px solid red;
                border-top: 100px solid transparent;
            }

            .text-higlight {
                position: absolute;
                right: 10px;
                bottom: 35px;
                transform: rotate(-45deg);
                color: #fff;
            }

            .image-icon {
                bottom: 20px;
                right: 10px;
                position: absolute;
                transform: rotate(-45deg);
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .box-date {
            span {
                background-color: #f5f5f5;
                font-size: 11px;
                border-radius: 5px;
                padding: 2px 5px;
                color: #ccc;
            }
        }

        .box-label {
            font-size: 22px;

            .nav-link {
                padding: unset;
            }

            a:hover {
                text-decoration: underline !important;
            }
        }
    }

    .box-top:hover {
        .pattern-img {
            .thumbnail-image {
                // transform: scale(1.2);
            }
        }
    }
}
