// @media only screen and (max-width: 1300px) {
.news__banner_1st {
  img {
    height: 300px;
    min-width: 100%;
    object-fit: 'contain';
    position: fixed;
    right: 0;
    left: 0;

  }
}

.news__banner {
  img {
    height: 100%;
    width: 1280px;
    object-fit: 'contain';
  }
}

.background-solution {
  background-color: white;
  top: 300px;
  min-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.Page-Solution {
  min-width: 100%;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  // right: 15px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  min-width: 1280px;
}

.news__info-container {
  .news__info-tab-event {
    cursor: pointer;
    text-align: end;
    // border-bottom: 2px solid blue;
  }

  .news__info-tab-tech {
    cursor: pointer;
    text-align: start;
    // border-bottom: 2px solid blue;
  }

  .active {
    border-bottom: 2px solid blue;
    color: blue;
  }

}

.news {
  padding-left: 0px;
  padding-right: 0px;
}

.box-thumbnail:hover {
  transform: scale(1.015);
}

.title--solution {
  font-size: 4vw;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#0063B0, #0097CF, #008CF8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 33%;
  max-width: 500px;
}

.container-part2 {
  bottom: 200px;
  padding-left: 0px;
  padding-right: 0px;
}

.title-solution-sd {
  font-size: 16px;
  font-size: 4vw;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 4%;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#0063B0, #0097CF, #008CF8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-solution-sd-2nd {
  font-size: 4vw;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 4%;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#0063B0, #0097CF, #008CF8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.latest-Solution {
  width: 65%;
  margin-left: 20%;
  // bottom: 200px;
  position: relative;
}

.latest-Solution1 {
  height: 700px;
  position: relative;
  top: 40px;
  max-width: 100%;
}

.detail-solution-content {
  font-size: 20px;
  text-align: center;
  margin-bottom: 3%;
  // text-transform: uppercase;
  color: black;
  position: relative;
  width: 100%;
}

.detail-solution {
  bottom: 250px;
}

.detail-solution1 {
  font-size: 4vw;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 55px;
  bottom: 30%;
  text-transform: uppercase;
  color: #008CF8;
}

.incline {
  display: inline-block;
}

.header-center {
  bottom: 50%;
  left: 25%;
  top: 25%;
  position: absolute;
  color: white;
  font-weight: bolder;
  font-size: 35px;
}

.body-content {
  position: relative;
}

.num_red_1 {
  display: inline-block;
  top: 20px;
  left: 20%;
  width: 30%;
  border-right: 1px solid #E50019;
  margin-right: 30px;
  position: relative;
  height: auto;
  max-height: 100px;
}

.num_red_2 {
  display: inline-block;
  margin-left: 30px;
  top: 20px;
  left: 10%;
  width: 30%;
  position: relative;
  height: auto;
  min-height: 100px;

}

.image_number-left {
  position: relative;
  right: 30px;
  max-width: 100px;
  min-height: 100px;
}

.image_number-right {
  position: relative;
  left: 30%;
  max-width: 130px;
  min-height: 100px;
}

.name-under {
  text-align: center;
  margin-left: 5%;
  font-size: 13px;
  color: white;
  opacity: 60%;
}

.content-icon {
  width: 360px;
  margin-left: 0px;
  top: 25px;
  left: 16px;
  position: relative;
  margin-top: 15px;

}

// .content-background-icon{
//     background-color: white;
//     width: 100px;
//   //   min-height: 40px;
//   //   max-height: 40px;
//     height: 40px;
//     border-radius: 5%;
//     margin-left: 5px;
//     margin-right: 5px;
//     margin-bottom: 15px;
//     position: relative;
// }
.title-solution {
  // font-size: 4vw;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#0063B0, #0097CF, #008CF8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 36%;
  // max-width: 350px;
}

.icon_1 {
  width: 70px;
  //   min-height: 40px;
  //   max-height: 40px;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  margin-top: 5px;
  //   border-radius: 5%;
}

.group_blue {
  margin-top: 10px;
}

.carousel-res {
  bottom: 1%;
  min-height: 500px;
}

/////////////////========================/////////////@extend

.carousel-res-part2 {
  background-color: #F5F5F5;
  bottom: 5%;

}

.mini-title {
  height: 27px;
  width: 80px;
  background-color: #FFE0E3;
  border-radius: 15px;
  text-align: center;
  color: #E50019;
  position: relative;
  top: 5px;
  left: 1%;
}

.mini-title-blue {
  height: 27px;
  width: 100px;
  background-color: #D1EBFF;
  border-radius: 15px;
  text-align: center;
  color: #0063B0;
  position: relative;
  top: 5px;
  left: 1%;
}

.general-content-part2 {
  height: 800px;
  background-color: #F5F5F5;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.tittle-part2 {
  padding-bottom: 50px;
  padding-top: 80px;
  width: 100%;
}

.background-img-part2 {
  padding-bottom: 15px;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  border-bottom: 2px #F2F2F2 solid;
}

.header-content {
  padding-top: 25px;
  font-size: 18px;
}

.header-content-link {
  font-size: 15px;
  color: #0063B0;
  top: 10px;
  margin-bottom: 5px;
}

.giaiphap {
  position: relative;
  // top: 20%;
}




@media only screen and (min-width: 1920px) {
  .latest-Solution1 {
    height: 1000px;
    position: relative;
    top: 1%;
  }

  .title-solution-sd {
    font-size: 16px;
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 1%;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#0063B0, #0097CF, #008CF8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 6%;



  }

  .detail-solution-content {
    font-size: 30px;

    text-align: center;
    margin-bottom: 3%;
    // text-transform: uppercase;
    color: black;
    position: relative;
    width: 100%;


  }

  .latest-Solution {
    width: 65%;
    margin-left: 20%;
    bottom: 5%;
    position: relative;
  }

  .content-icon {
    width: 600px;
    margin-left: 0px;
    top: 25px;
    left: 16px;
    position: relative;
    margin-top: 15px;
  }

  .header-content {
    padding-top: 26px;
    font-size: 18px;
  }


  .container-part2 {
    bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .news__banner {
    img {
      top: 220px;
      position: relative;
      height: 100%;
      width: 100%;
      object-fit: 'contain';
    }
  }

  .general-content-part2 {
    height: 800px;
    background-color: #F5F5F5;
    margin-bottom: 200px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  // .content-background-icon{
  //   background-color: white;
  //   width: 170px;
  // //   min-height: 40px;
  // //   max-height: 40px;
  //   height: 40px;
  //   border-radius: 5%;
  //   margin-left: 5px;
  //   margin-right: 5px;
  //   margin-bottom: 15px;
  //   position: relative;
  // }
}