.contact {
    @media only screen and (max-device-width: 1920px) and (min-device-width: 1281px) {
    .info-box {
        border: 2px solid #efefef;
        border-radius: 12px;
        width: 699px;
        height: 300px;
        margin-top: 25px;
    }
    .img-position{
        margin-left: 20px;
        margin-top: 5px;
    }
    .img-phone {
        width: 36px;
        &--hidden {
            visibility: hidden;
        }
    }
    .phone {
        font-weight: bolder;
        color: #e60000;
        font-size: 23px;
    }
    .fax {
        font-weight: bolder;
        color: #0063b0;
        font-size: 23px;
        &--hidden {
            visibility: hidden;
        }
    }

    .agent-name {
        text-align: left;
        // font: normal normal normal 40px/54px SVN-Gotham;
        color: #1d1d1f;
        margin-left: 20px;
        text-align: left;
        letter-spacing: -1.6px;
        opacity: 1;
        font-size: 40px;
        font-weight: 600;
        &--hidden {
            visibility: hidden;
        }
    }

    .office-name {
        color: #0063b0;
        margin-left: 20px;
        font-size: 25px;
        font-weight: 600;
        &--hidden {
            visibility: hidden;
        }
        margin-top: 5px;
    }

}
    @media only screen and (max-device-width: 1280px) {
        .info-box {
            width: 600px;
            height: 223px;
            border: 2px solid #efefef;
            border-radius: 12px;
            margin-top: 25px;
        }

        .img-position{
            margin-left: 20px;
            margin-top: 10px;
        }

        .img-phone {
            width: 30px;
            &--hidden {
                visibility: hidden;
            }
        }
        .phone {
            font-weight: bolder;
            color: #e60000;
            font-size: 18px;
        }
        .fax {
            font-weight: bolder;
            color: #0063b0;
            font-size: 18px;
            &--hidden {
                visibility: hidden;
            }
        }

        .agent-name {
            text-align: left;
            // font: normal normal normal 40px/54px SVN-Gotham;
            color: #1d1d1f;
            margin-left: 20px;
            text-align: left;
            letter-spacing: -1.6px;
            opacity: 1;
            font-size: 28px;
            font-weight: 600;
            &--hidden {
                visibility: hidden;
            }
        }

        .office-name {
            color: #0063b0;
            margin-left: 20px;
            font-size: 20px;
            font-weight: 600;
            &--hidden {
                visibility: hidden;
            }
            margin-top: 5px;
        }
    }
}
