.module {
    position: relative;

    .main-module {
        width: 100%;
    }

    .container {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 60%;
        color: white;
        box-shadow: unset;
    }

    .giaiphap {
        position: relative;
        top: 20%;
    }

    .xemthem {
        position: absolute;
        display: flex;
        width: 450px;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;

        a {
            text-align: center;
            font-weight: 700;
            transition: all 0.2s;
            position: absolute;
            left: 0;
            right: 0;
            top: -20px;
            font-size: 20px;
            cursor: pointer;
            color: #0063B0 !important;

            &:hover {
                font-size: 25px;
                top: -30px;
                text-decoration: none !important;
                color: #E50019 !important;
            }
        }
    }
}

@media only screen and (max-width: 1600px){
    .module {
        .giaiphap {
            top: 11%;
        }
    }
}

@media only screen and (max-width: 1536px){
    .module {
        .giaiphap {
            top: 10%;
        }
    }
}

@media only screen and (max-width: 1440px){
    .module {
        .giaiphap {
            top: 8%;
        }
    }
}

@media only screen and (max-width: 1366px){
    .module {
        .giaiphap {
            top: 17%;
        }
    }
}

@media only screen and (max-width: 1280px) {
    .module {
        .giaiphap {
            top: 13%;
        }
    }
}