.details {
  flex-direction: column;
}
.flexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flexcontainer-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.icon-details {
  font-size: 60px;
  font-weight: bolder;
}
blockquote {
  font-size: 1.4em;
  width: 60%;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #0759b6;
  padding: 1.2em 30px 1.2em 75px;
  border-radius: 20px;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

blockquote::before {
  font-family: Arial;
  content: '\201C';
  color: #67a5ec;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}
