
.strength {
    position: relative;

    .col {
        display: flex;
        height: 900px;
    }

    .left {
        margin-top: 20%;
    }

    .center {
        margin-top: 30%;
    }

    .right {
        margin-top: 5%;
    }

    h1 {
        font-size: 3.4rem;
        font-weight: 700;
        text-shadow: 1px 1px 10px;
        margin-bottom: 20px;
    }

    .linedoc {
        // border-left: 10px solid transparent;
        // border-right: 10px solid transparent;
        // border-image: url('../../assets/images/line.png') 20 round;
        height: 35%;
        margin-right: 20px;
    }

    .center {
        .linedoc {
            margin-top: 100px;
        }
    }

    .right {
        .one {
            margin-top: 300px;
        }

        .two {
            margin-top: 100px;
        }
    }

    .linedoc:last-child {
        height: 35%;
        margin-right: -20px;
    }

    .content-num {
        width: 100%;
        height: fit-content;
    }

    .main-group {
        position: relative;
        margin-bottom: 100px;

        span {
            position: absolute;
            top: 150px;
        }
    }

    .group {
        position: relative;
    }

    .vongtron {
        -webkit-transition: all 0.2s; 
        -moz-transition: all 0.2s; 
        transition: all 0.2s;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }

    .group:hover .vongtron {
        top: 10px;
    }

    .num {
        -webkit-transition: all 0.2s; 
        -moz-transition: all 0.2s; 
        transition: all 0.2s;
        position: absolute;
        top: 0;
        left: 15%;
        right: 0;
        bottom: 10px;
        width: fit-content;
        height: 100%;
        margin: auto;
        z-index: 1;
        font-size: 90px;
        font-weight: 700;
        text-shadow: 2px 2px 10px #429ED7;
    }

    .group:hover .num{
        bottom: 40px;
    }

    span {
        font-weight: 500;
        font-size: small;
        line-height: 1.5;
        text-align: justify;

        span {
            color: #98FAFC;
            font-weight: bold;
        }
    }

    .padding-bottom {
        padding-bottom: 1px;
    }
}

@media only screen and (max-width: 1600px){
    .strength {
        h1 {
            font-size: 3rem;
        }

        .main-group {   
            span {
                top: 140px;
            }
        }

        .group:hover .num{
            bottom: -10px;
        }

        .num {
            font-size: 60px;
            bottom: -40px;
        }
    }
}

@media only screen and (max-width: 1536px){
    .strength {

        h1 {
            font-size: 2.9rem;
        }

        .main-group {   
            span {
                top: 130px;
            }
        }

        .group:hover .num{
            bottom: 0;
        }

        .num {
            font-size: 60px;
            bottom: -30px;
        }
    }
}

@media only screen and (max-width: 1440px){
    .strength {

        h1 {
            font-size: 2.6rem;
        }

        .group:hover .num{
            bottom: 10px;
        }

        .num {
            font-size: 60px;
            bottom: -20px;
        }
    }
}

@media only screen and (max-width: 1366px){
    .strength {

        .center {
            margin-top: 25%;
        }

        .left {
            margin-top: 7%;
        }

        h1 {
            font-size: 2.5rem;
        }

        span {
            font-size: 12px;
        }

        .main-group {
            margin-bottom: 70px;
    
            span {
                top: 120px;
            }
        }

        .group:hover .num{
            bottom: 30px;
        }

        .num {
            font-size: 60px;
            bottom: 0;
        }
    }
}

@media only screen and (max-width: 1280px) {
    .strength {

        .center {
            margin-top: 25%;
        }

        .left {
            margin-top: 7%;
        }

        h1 {
            font-size: 2.4rem;
        }

        span {
            font-size: 12px;
        }

        .main-group {
            margin-bottom: 70px;
    
            span {
                top: 100px;
            }
        }

        .group:hover .num{
            bottom: 30px;
        }

        .num {
            font-size: 55px;
            bottom: 0;
        }
    }
}