$red-color: #e50019;

.box-group {
    margin: auto;
    margin-bottom: 55px;
}
.box-top {
    position: relative;
}
.box {
    width: 359px;
    float: left;
    margin: 10px;
}

.news-line {
    width: 400px;
    height: 312px;
    .line {
        fill: transparent;
        stroke: $red-color;
        stroke-width: 2;
    }
    .blue {
        stroke: #0063b0;
    }
}

.box-thumbnail {
    position: absolute;
    width: 358px;
    height: 285px;
}

.pattern-img {
    position: absolute;
}

.text {
    color: $red-color;
    font-weight: bold;
    position: absolute;
    bottom: 4px;
    left: 0px;
    font-size: 12px;
    text-transform: uppercase;
}

.circle {
    position: absolute;
    bottom: 0px;
    left: 108px;
}
.box-date span {
    background-color: #f5f5f5;
    font-size: 11px;
    border-radius: 5px;
    padding: 2px 5px;
    color: #ccc;
}
.box-lable {
    font-size: 22px;
}
.nav-link {
    padding: unset;
}
a:hover {
    text-decoration: underline !important;
}
