.marquee {
    margin-bottom: 170px;

    .carousel-container {
        width: 60%;
        text-align: center;
        margin: auto;

        img {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .carousel-picture {
            width: 170px !important;
            height: 150px;
            border-right: 3px solid transparent;
            border-image-source: linear-gradient( #FAFAFA 20% , #EDEDED , #FAFAFA 80%);
            border-image-slice: 1;
        }
    }
    
    h1 {
        font-weight: 700;
        font-size: 72px;
        background: linear-gradient(145deg, #1D63B0 30%, #1D95CD, #1D8CF8 70%);
        -webkit-text-fill-color: transparent;
        text-align: center;
        -webkit-background-clip: text;
        margin-bottom: 60px;
    }
}