.diamond-group-solution {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width:100%;
    display: block;

    .group {
        display: flex;
        justify-content: center;

        &--three{
            justify-content: space-evenly;
        }
        
        &--four{
            justify-content: flex-start;
        }
    }

    .title {
        text-align: center;

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            text-shadow: 1px 1px 10px;
            width: 320px;
            margin: auto;
        }

        .timhieu {
            position: relative;
            display: flex;
            width: 400px;
            margin: auto;
            margin-top: 40px;

            a {
                margin: auto;
                font-weight: 700;
                text-shadow: 1px 1px 10px;
                transition: all 0.2s;
                position: absolute;
                left: 0;
                right: 0;
                top: -9px;
                font-size: 20px;
                cursor: pointer;
                color: white !important;

                &:hover {
                    font-size: 25px;
                    top: -13px;
                    text-decoration: none !important;
                }
            }
        }        
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1398px){
    .diamond-group-solution {
        top: 55%;
        .title {
            h1 {
                font-size: 1.5rem;
            }
        }
    }
}