.box {
    width: 450px;
    float: left;
    margin: 10px;

    .box-top {
        position: relative;

        .figure {
            width: 100%;

            .figure-img {
                width: 100%;
            }

            .thumnail::before {
                content: "";
                position: absolute;
                right: -1px;
                bottom: 0;
                border-left: 190px solid transparent;
                border-bottom: 190px solid #fff;
            }

            .thumnail.red::before {
                content: "";
                position: absolute;
                right: -1px;
                bottom: 0;
                border-left: 170px solid transparent;
                border-bottom: 170px solid #fff;
            }

            .text-highlight {
                position: absolute;
                right: 10px;
                bottom: 35px;
                transform: rotate(-45deg);
                color: #fff;
                display: none;
            }

            .text-highlight.highlight {
                display: block;
            }

            .line {
                position: absolute;
                bottom: 3px;
                right: 0;
                
                &.red {
                    width: 68%;
                }
                &.blue {
                    width: 80%;
                }
                &.highlight {
                    width: 65%;
                }
            }
        }

        .box-thumbnail {
            position: absolute;
            width: 358px;
            height: 285px;
        }

        .pattern-img {
            position: absolute;
        }

        .news-line {
            width: 400px;
            height: 312px;

            .line {
                fill: transparent;
                stroke: #E50019;
                stroke-width: 2;
            }
        }

        .circle {
            position: absolute;
            bottom: 0px;
            left: 108px;
        }

        .text {
            font-weight: bold;
            position: absolute;
            bottom: 4px;
            left: 0px;
            font-size: 12px;
            text-transform: uppercase;
        
            &.blue {
                color: #0063b0;
            }
            &.red {
                color: #E50019;
            }
        }
    }

    .box-date span {
        background-color: #f5f5f5;
        font-size: 11px;
        border-radius: 5px;
        padding: 2px 5px;
        color: #ccc;
    }

    .box-lable {
        font-size: 22px;

        .nav-link {
            padding: unset;
        }
        
        a:hover {
            text-decoration: underline !important;
        }
    }
}

@media only screen and (width: 1280px) {
    .box {
        width: 300px;

        .box-top {
            .figure {
                .line.blue {
                    width: 70%;
                }

                .line.red {
                    width: 55%;
                }

                .thumnail::before {
                    border-left: 120px solid transparent;
                    border-bottom: 120px solid #fff;
                }
    
                .thumnail.red::before {
                    border-left: 100px solid transparent;
                    border-bottom: 100px solid #fff;
                }
            }
        }
    }
}

@media only screen and (width: 1366px) {
    .box {    
        width: 330px;
        .box-top {
            .figure {
                .line.blue {
                    width: 75%;
                }

                .line.red {
                    width: 59%;
                }

                .thumnail::before {
                    border-left: 140px solid transparent;
                    border-bottom: 140px solid #fff;
                }
    
                .thumnail.red::before {
                    border-left: 120px solid transparent;
                    border-bottom: 120px solid #fff;
                }
            }
        }
    }
}