/* create class common */
.border {
    border: 1px solid $theme-btn-other;
}
.header {
    border: 1px solid palevioletred;
}
.footer {
    border: 1px solid blue;
}
.slider {
    min-height: 266px;
    background-color: $theme-bg;
}
/*margin common*/
.header,
.footer,
.latest-new,
.slider {
    margin-bottom: 55px;
}
