/* create variable common for template */
$theme-text: #6D6D6D;
$theme-navi: #0063b0;
$theme-bg: #0063b0;
$theme-btn: #0063b0;
$theme-btn-other: #E81F35;
@font-face {
    font-family: 'SVN-Gotham';
    src: local('SVN-Gotham'), url('../assets/fonts/SVN-Gotham\ Bold.ttf') format('opentype');
}

